<footer>
    <div class="social-icons">
      <a href="https://twitter.com/tu_usuario" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://facebook.com/tu_usuario" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://instagram.com/tu_usuario" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://linkedin.com/in/tu_usuario" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/tu_usuario" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </footer>
  